.product-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
    
}
.card-container{
    margin-top: 100px;
    margin-left: 60px;
}
.card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   margin: 5px;
    
}
.cart-container{
    background-color: #FFE0B3;
}

